{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="column">
        <div class="row">
            <h1>This is the home page</h1>

            <p>This came from the template: {{index .StringMap "test1" }}</p>
        </div>
    </div>
</div>
{{end}}